body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: black;
  column-gap: 2rem;
}

#game-board {
  aspect-ratio: 1/1;
  background-color: #ccc;
  display: grid;
  flex: 0 5 100vmin;
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: 0.25vmin solid black;
}

.food {
  background-color: hsl(50, 100%, 50%);
  border: 0.25vmin solid black;
}

#game-inputs {
  aspect-ratio: 0.78/1;
  background-color: wheat;
  line-height: 2vmin;
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 5 30vmin;
}

#game-score {
  aspect-ratio: 0.78/1;
  background-color: wheat;
  line-height: 2vmin;
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 5 30vmin;
}

h1 {
  font-size: 3vmin;
}

h4 {
  font-size: 2vmin;
}

input {
  background-color: wheat;
  font-size: 2vmin;
  width: 80%;
  overflow: hidden;
}

button {
  font-size: 2vmin;
  background-color: blanchedalmond;
  width: 50%;
  margin-top: 1rem;
  overflow: hidden;
}
